[Unit]
Description={{ iperf_eff_name }} server
After=network.target

[Service]
Type=simple
User={{ iperf_eff_name }}
ExecStart=/usr/bin/{{ iperf_eff_name }} -s
Restart=on-abort

[Install]
WantedBy=multi-user.target
